# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.env

# Maven
target/
*.releaseBackup
pom.xml.releaseBackup
pom.xml.tag
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws
.settings/
.classpath
.project
.factorypath

# OS files
Thumbs.db
db.properties
.DS_Store
*.log
